<% include common/header.ejs %>
<body>
<div class="container-center">
    <div class="competitors-table-container">
        <h2 class="subtitle-dark">Competitors</h2>
        <table style="width:100%" id="employee_table">
            <tr id="myHeader">
                <th>Name</th>
                <th>Website</th>
                <th>URL</th>
                <th>Tools</th>
            </tr>
            <% competitors.forEach(competitor => { %>
                <% if( competitor.url === "" ){ %>
                   <tr style='background-color: #feffb4;'>
                <% } else{ %>
                   <tr>
                <% } %>
                <td style='color: white; background-color: #5D5D5D; border-color: #a8a8a8'><%=competitor.comp_name%></td>
                <td style='color: white; background-color: #5D5D5D; border-color: #a8a8a8'><%=competitor.site%></td>
                <td style='background-color: #feffb4'><a href="<%=competitor.url%>" target="_blank"><%=competitor.url%></a></td>
                <td style='color: white; background-color: #5D5D5D; border-color: #a8a8a8'>
                    <button class="tool-btn round-btn-sm glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editformModal"></button>
                    <button class="tool-btn round-btn-sm glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteConfirmationModal"></button>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <br>
    <a  href="#">
        <button class="back-to-top-btn round-btn">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </a>
</div>
<!-- Edit competitor form Modal -->
<div class="modal fade" id="editformModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/editUrl">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myEditModalLabel">Edit Competitor</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editUrl">Url: </label>
                        <input type="text" class="form-control" name="url" id="editUrl"/>
                        <input type="hidden" class="form-control" name="comp_id" id="comp_id"/>
                        <input type="hidden" class="form-control" name="item_id" id="item_id"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit form Modal -->
<div class="modal fade" id="editItemformModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/edititem">
                <input type="hidden" id="edit-form-itemid" name="id" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myEditModalLabel">Edit Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edit-form-name">Item name: </label>
                        <input type="text" class="form-control" name="name" id="edit-form-name"/>
                        <label for="edit-form-brand">Item brand: </label>
                        <input type="text" class="form-control" name="brand" id="edit-form-brand"/>
                        <label for="edit-form-price">Item price: </label>
                        <input type="text" class="form-control" name="price" id="edit-form-price"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="/deleteitem">
                <input type="hidden" id="delete-form-itemid" name="id" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myDeleteLabel">Delete selected item?</h4>
                </div>
                <div class="modal-body">
                    <h1 class="label label-warning">This action cannot be undone!</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="Delete"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="side-panel-competitors" >
    <div class="side-panel-competitors-center">
        <h4 class="subtitle">Item Info:</h4>
            <div class="item-title">ID:&nbsp
                <span class="item-element"><%= item.id %></span>
            </div>
            <div class="item-title">Article:&nbsp
                <span class="item-element"><%= item.vendorCode %></span>
            </div>
            <div class="item-title">Name:&nbsp
                <span class="item-element"><%= item.name %></span>
            </div>
            <div class="item-title">Brand:&nbsp
                <span class="item-element"><%= item.brand %></span>
            </div>
            <div class="item-title">Price:&nbsp
                <span class="item-element"><%= item.price %></span>
            </div>
    </div>
</div>
<div class="side-panel-tools-competitor">
    <div class="button-tools-competitor-container">
        <button class="delete-item delete-competitor-btn round-btn"  data-toggle="modal" data-target="#deleteConfirmationModal" data-itemid="<%= item.id %>">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button class="edit-item edit-competitor-btn round-btn" data-toggle="modal" data-target="#editItemformModal"
                data-id="<%= item.id %>"
                data-name="<%= item.name %>"
                data-brand="<%= item.brand %>"
                data-price="<%= item.price %>">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <a href="#">
            <button class="back-to-top-item-btn round-btn">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
        </a>
    </div>
</div>
<% include common/top_panel.ejs %>
<% include common/footer.ejs %>