<% include common/header.ejs %>
<body>
<div class="container-center">
    <div class="competitors-table-container">
        <h2 class="subtitle-dark">Competitors</h2>
        <table style="width:100%" id="employee_table">
            <tr id="myHeader">
                <th>Name</th>
                <th>Website</th>
                <th>URL</th>
                <th>Tools</th>
            </tr>
            <tr>
                <td>example name 1</td>
                <td>example website 1</td>
                <td>example URL 1</td>
                <td>
                    <button class="tool-btn round-btn-sm glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editformModal"></button>
                    <button class="tool-btn round-btn-sm glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteConfirmationModal"></button>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <a  href="#">
        <button class="back-to-top-btn round-btn">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
    </a>
</div>
<!-- Edit competitor form Modal -->
<div class="modal fade" id="editformModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="#">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myEditModalLabel">Edit Competitor</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editcompetitorname">Item name: </label>
                        <input type="text" class="form-control" name="competitorname" id="editcompetitorname"/>
                        <label for="editwebsite">Website: </label>
                        <input type="text" class="form-control" name="website" id="editwebsite"/>
                        <label for="editUrl">Url: </label>
                        <input type="text" class="form-control" name="url" id="editUrl"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Item form Modal -->
<div class="modal fade" id="editItemformModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="#">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myEditItemModalLabel">Edit Item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edititemid">Item id: </label>
                        <input type="text" class="form-control" name="itemid" id="edititemid"/>
                        <label for="edititemart">Item Article: </label>
                        <input type="text" class="form-control" name="itemart" id="edititemart"/>
                        <label for="edititemname">Item name: </label>
                        <input type="text" class="form-control" name="itemname" id="edititemname"/>
                        <label for="edititembrand">Item brand: </label>
                        <input type="text" class="form-control" name="itembrand" id="edititembrand"/>
                        <label for="edititemprice">Item price: </label>
                        <input type="text" class="form-control" name="itemprice" id="edititemprice"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-warning" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myDeleteLabel">Delete selected item?</h4>
            </div>
            <div class="modal-body">
                <h1 class="label label-warning">This action cannot be undone!</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" name="delete" id="delete" class="btn btn-warning" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="side-panel-competitors" >
    <div class="side-panel-competitors-center">
        <h4 class="subtitle">Item Info:</h4>
        <% items.forEach(item => { %>
            <div class="item-title">ID:&nbsp
                <span class="item-element"><%= item.id %></span>
            </div>
            <div class="item-title">Article:&nbsp
                <span class="item-element"><%= item.vendorCode %></span>
            </div>
            <div class="item-title">Name:&nbsp
                <span class="item-element"><%= item.name %></span>
            </div>
            <div class="item-title">Brand:&nbsp
                <span class="item-element"><%= item.brand %></span>
            </div>
            <div class="item-title">Price:&nbsp
                <span class="item-element"><%= item.price %></span>
            </div>
        <% }) %>
    </div>
</div>
<div class="side-panel-tools-competitor">
    <div class="button-tools-competitor-container">
        <button class="delete-competitor-btn round-btn"  data-toggle="modal" data-target="#deleteConfirmationModal">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <button class="edit-competitor-btn round-btn" data-toggle="modal" data-target="#editItemformModal">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <a href="#">
            <button class="back-to-top-item-btn round-btn">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
        </a>
    </div>
</div>
<% include common/top_panel.ejs %>
<% include common/footer.ejs %>